<div class="accounting-dashboard--accounts-list">
  <a href="{{ links['accounting-accounts-add'].url }}" class="accounts-list-toggle" type="button" aria-controls="accounts-list" aria-label="Toggle accounts menu">
    <span class="accounts-list-toggle__icon">Add Account</span>
  </a>
  <div class="accounts-list" aria-labelledby="accounts-list">
    {# {% block order_items %} #}
      <table>
        <tbody>
        {% for key, account in accounts %}
          <tr class="accounts-list--{{ key }}">
            <td>{{ account.name }}</td>
            <td>{{- account.group -}}</td>
            <td>{{- account.balance|number_format(2, ',', '.') -}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {# {% endblock %}
    {% block totals %}
      {{ rendered_totals }}
    {% endblock %} #}
  </div>
</div>
