{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 */
#}

<div id="page-wrapper">

	<header role="banner" id="header" class="clearfix">
		<div class="container full-width">
			{{ page.header }}
    <div>
  </header>

  {% if page.highlighted %}
    <div id="highlighted">
      <div class="container">
        <div class="row">{{ page.highlighted }}</div>
      </div>
    </div>
  {% endif %}
  <div class="container">{{ page.breadcrumb }}</div>

  <main id="main" class="clearfix">
    <div class="container">
      <div class="row">
        {% if page.sidebar %}
          <div id="sidebar" class="sidebar {{ sidebar }}" role="complementary">
            {{ page.sidebar }}
            {{ page.secondary_menu }}
          </div>
          <!-- /#sidebar -->
        {% endif %}

        <div class="main" role="main">
          {# {% if page.content_above %}
            <div id="content_above">{{ page.content_above }}</div>
          {% endif %} #}

          {{ page.content }}

          {% if page.content_below %}
            <div id="content_below">{{ page.content_below }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  {# Bottom regions. #}
  <footer class="site-footer">
    <div class="container">
      {% if page.footer_top or page.footer_bottom %}
        <div class="site-footer__top clearfix">
          {{ page.footer_top }}
          {{ page.footer_bottom }}
        </div>
      {% endif %}
    </div>
  </footer>
</div>
